<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>关于我</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">

    <link rel="stylesheet" href="__FCSS__/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__FCSS__/main.css">

    <script src="__FJS__/hm.js"></script>
</head>
<body>

{include file="common/header" /}

<div class="page clearfix" post="">
    <div class="left">
        <h1>关于我</h1>
        <hr>
        
        <p>PHP开发工程师，<a href="">xx网</a></p>
        <p>一个从事WEB后端开发，一心牵挂前端技术，为成为真正的全栈攻城狮不间断的前进！</p>

        <hr>
        <h2 id="section">技术栈</h2>
        <h4 id="section-1">后端</h4>
        <ul>
            <li>PHP
                <ul>
                    <li>MVC, WebService, OOP</li>
                </ul>
            </li>
            <li>服务器
                <ul>
                    <li>Linux, Nginx, Apache</li>
                </ul>
            </li>
            <li>关系数据库:
                <ul>
                    <li>Mysql</li>
                </ul>
            </li>
            <li>Nosql数据库
                <ul>
                    <li>Mongodb</li>
                    <li>Redis</li>
                    <li>Mamcached</li>
                </ul>
            </li>
            <!-- <li>经验：
                <ul>
                    <li>高并发问题处理，提高响应方案</li>
                    <li>WEB安全意识</li>
                    <li>大数据处理，分布式</li>
                    <li>代码质量高，设计模式，面向抽象编程，而不是面向实现编程</li>
                </ul>
            </li> -->
        </ul>
        <h4 id="section-2">前端</h4>

        <ul>
            <li>HTML CSS Javascript Ajax</li>
            <li>UI框架：
                <ul>
                    <li>Bootstrap, LayerUI, SUI Mobile</li>
                </ul>
            </li>
            <li>Javascript
                <ul>
                    <li>Nodejs, AngularJS</li>
                </ul>
            </li>
        </ul>
        <h4 id="section-3">其它</h4>
        <hr>

        <h2 id="section-4">联系我</h2>

        <ul>
        <li>微信:</li>
        <li>Email：<a href="mailto:furhacker@163.com">furhacker@163.com</a></li>
        <li>QQ:</li>
        </ul>

        <hr>

        <h2 id="section-5">关于本站</h2>

        <blockquote>
            <p>工作多年希望建立这个博文站，可以把自己更多的总结的内容梳理成文章，<!-- 托管在github社区， -->作为自己的一个总结的归档记录;
            <br>
            同时分享给广大朋友，希望可以从中得到有用的信息和帮助，同时有期望有更多的交流和建议;</p>
        </blockquote>

        <hr>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap" style="width: 265px;">
            <!-- Content -->
            <div class="side content">
                <div>Content</div>
                <ul id="content-side" class="content-ul" style="max-height: 463px;">
                    <li><a href="#section" id="markdown-toc-section" class="scroll">技术栈</a>
                        <ul>
                            <li><a href="#section-1" id="markdown-toc-section-1" class="scroll">后端</a></li>
                            <li><a href="#section-2" id="markdown-toc-section-2" class="scroll">前端</a></li>
                            <li><a href="#section-3" id="markdown-toc-section-3" class="scroll">其他</a></li>
                        </ul>
                    </li>
                    <li><a href="#section-4" id="markdown-toc-section-4" class="scroll">联系我</a></li>
                    <li><a href="#section-5" id="markdown-toc-section-5" class="scroll">关于本站</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="__FJS__/pageContent.js" charset="utf-8"></script>

{include file="common/footer" /}
<!--<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>-->

<div class="back-to-top">
    <a href="#top" class="scroll">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>

    <script src="__FJS__/main.js" charset="utf-8"></script>
    <script src="__FJS__/scroll.min.js" charset="utf-8"></script>
</body>
</html>