<footer class="site-footer">
    <div class="wrapper">
        <p class="description">
             本站记录代码之旅的沿途风景！ 
        </p>
        <p class="contact">
            Contact me at: 
            <a href="https://github.com/furhacker" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a> 
            <a href="mailto:furhacker@163.com" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>  
            <a href="https://www.zhihu.com/people/yetong1593/activities" target="_blank" title="Zhihu"><i class="iconfont">知</i></a>
        </p>
        <p class="power">
            <span>
                Site powered by <a href="http://t.qq.com/furhacker" target="_blank">Mr.Ye.</a> &amp; <a href="https://pages.github.com/">Github Pages</a>.
            </span>
            <span>
                Theme designed by <a href="https://github.com/Gaohaoyang" target="_blank">HyG</a>.
            </span>
        </p>
    </div>
</footer>