<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FurHacker</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">

    <link rel="stylesheet" href="__FCSS__/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__FCSS__/main.css">
    <script src="__FJS__/hm.js"></script>
</head>
<body>

{include file="common/header" /}

<div class="page clearfix" index="">
    <div class="left">
        <h1 class="welcome">Welcome 来了既是缘分!</h1>
        <div class="love">
            <input id="toggle-heart" type="checkbox" checked="checked">
            <label for="toggle-heart" aria-label="like">❤</label>
        </div>
        <small cass="desc">&nbsp;&nbsp;指缝太宽；时间真瘦；</small><hr>
        
        <ul>
            <li>
                <h2><!-- 标题 -->
                    <a class="post-link" href="">高并发业务接口开发思路(实战)</a>
                </h2>
                <div class="label">
                    <div class="label-card"><!-- 创建日期 -->
                        <i class="fa fa-calendar"></i>2017-05-21
                    </div>
                    <div class="label-card"><!-- 作者 -->
                        <i class="fa fa-user"></i>Mr.Ye.
                    </div>
                    <div class="label-card">
                        <span class="categories">
                            <i class="fa fa-th-list"></i><!-- 分类 -->
                            <a href="" title="Category: 高并发" rel="category">高并发</a>
                        </span>
                    </div>
                    <div class="label-card">
                        <span class="pageTag">
                            <i class="fa fa-tags"></i><!-- 标签 -->
                            <a href="" title="Tag: 高并发" rel="tag">高并发</a>&nbsp;
                            <a href="" title="Tag: 接口" rel="tag">接口</a>
                        </span>
                    </div>
                </div>
                <div class="excerpt"><!-- 文章详情 -->
                    <p>高并发业务除了需要有支撑高并发的服务器架构，还需要根据业务需求和架构体系，设计出合理的开发方案，这里根据一个实践过业务场景分析开发思路，罗列出高并发接口需要注意的点，以及设计上的巧思，共勉之，望共鸣</p>
                </div>
                <div class="read-all">
                    <a href=""><i class="fa fa-newspaper-o"></i>Read All</a>
                </div>
                <hr>
            </li>
            <li>
                <h2>
                    <a class="post-link" href="">再见2016，你好2017</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="fa fa-calendar"></i>2016-12-31
                    </div>
                    <div class="label-card">
                        <i class="fa fa-user"></i>Mr.Ye.
                    </div>
                    <div class="label-card">
                        <span class="categories">
                            <i class="fa fa-th-list"></i>
                            <a href="" title="Category: 总结2016" rel="category">总结2016</a>
                        </span>
                    </div>
                    <div class="label-card">
                        <span class="pageTag">
                            <i class="fa fa-tags"></i>
                            <a href="" title="Tag: 总结" rel="tag">总结</a>
                        </span>
                    </div>
                </div>
                <div class="excerpt">
                    <p>光阴似箭，岁月如梭，2016即将过去，回首2016我自己个儿都整了些啥玩意儿？</p>
                    <p><img src="__FIMG__/2016-2017.jpg" alt="2016-2017"></p>
                </div>
                <div class="read-all">
                    <a href=""><i class="fa fa-newspaper-o"></i>Read All</a>
                </div>
                <hr>
            </li>
            
        {volist name="articleList" id="vo"}
            <li>
                <h2><!-- 标题 -->
                    <a class="post-link" href="{:url('article/detail')}?id={$vo.id}">{$vo.title}</a>
                </h2>
                <div class="label">
                    <div class="label-card"><!-- 创建日期 -->
                        <i class="fa fa-calendar"></i>{$vo.gmt_create|mb_substr=###,0,10}
                    </div>
                    <div class="label-card"><!-- 作者 -->
                        <i class="fa fa-user"></i>{$vo.author}
                    </div>
                    <div class="label-card">
                        <span class="categories">
                            <i class="fa fa-th-list"></i><!-- 分类 -->
                            <a href="" title="Category: 总结2016" rel="category">总结2016</a>
                        </span>
                    </div>
                    <div class="label-card">
                        <span class="pageTag">
                            <!-- 标签 -->
                            <?php
                                if (!empty($vo['tag']) ) {
                                    $str = '<i class="fa fa-tags"></i>';

                                    foreach ($vo['tag'] as $key => $value) {
                                        $str .= '<a href="" title="Tag: '.$value.'" rel="tag">'.$value.'</a>&nbsp;&nbsp;';
                                    }
                                    echo $str;
                                }
                            ?>
                            <!-- <a href="" title="Tag: 总结" rel="tag">总结</a> -->
                        </span>
                    </div>
                </div>
                <div class="excerpt">
                    <p>{$vo.desc}</p><!-- 描述 -->
                    <p>
                        <?php
                            if ($vo['img'] != null) {
                                echo $vo['img'].' alt=""';
                            }
                        ?>
                    </p>
                </div>
                <div class="read-all">
                    <a href="{:url('article/detail')}?id={$vo.id}"><i class="fa fa-newspaper-o"></i>Read All</a>
                </div>
                <hr>
            </li>
        {/volist}

        </ul>

        <!-- 分页 -->
        <div class="pagination">
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
            <span class="page_number">1/3</span>
            <a href="" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="" class="next"><i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    
    <div class="right">
        <div class="wrap">

            <!-- 音乐播放器 -->
            <audio style="width: 265px;margin-bottom: 18px;background-color: #f8f8fd; box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;"  controls="controls" loop="false" preload="auto" src="/static/front/mp3/ycmd.mp3">
                  你的浏览器不支持audio标签
            </audio>

            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
                <ul class="content-ul" recent="">
                    <li><a href="">高并发业务接口开发思路(实战)</a></li>
                    <li><a href="">再见2016，你好2017</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
                <ul class="content-ul" cate="">
                    
                    {volist name="categoryList" id="vc"}
                    <li>
                        <a href="" class="categories-list-item" cate="jekyll">
                            <span class="name">
                                {$vc.name}
                            </span>
                            <span class="badge">{$vc.count}</span>
                        </a>
                    </li>
                    {/volist}
                    <!-- <li>
                        <a href="" class="categories-list-item" cate="高并发">
                            <span class="name">
                                高并发
                            </span>
                            <span class="badge">4</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="" class="categories-list-item" cate="安全">
                            <span class="name">
                                安全
                            </span>
                            <span class="badge">3</span>
                        </a>
                    </li>                    
                    <li>
                        <a href="" class="categories-list-item" cate="总结2016">
                            <span class="name">
                                总结2016
                            </span>
                            <span class="badge">1</span>
                        </a>
                    </li>  -->                   
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <div class="side">
                <div>
                    <i class="fa fa-tags"></i>
                    Tags
                </div>
                <div class="tags-cloud">
                    <a href="" style="font-size: 9pt; color: #999;">jekyll</a> 
                    <a href="" style="font-size: 9pt; color: #999;">端口</a>
                </div>
            </div>
            <!-- <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    Links
                </div>
                <ul  class="content-ul">

                </ul>
            </div> -->
        </div>
    </div>
</div>

{include file="common/footer" /}

<div class="back-to-top">
    <a href="#top" class="scroll">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>

    <script src="__FJS__/main.js" charset="utf-8"></script>
    <script src="__FJS__/scroll.min.js" charset="utf-8"></script>
</body>
</html>